<div class="flex">
    <div class="col-12 lg:col-8 xl:col-8" style="padding:0 1rem 0 0;">
        <p-card header="Title">
            <app-dashbordcharts [chartname]="chartname"></app-dashbordcharts>
        </p-card>
    </div>
    <div class="col-12 lg:col-4 xl:col-4" style="padding:0 0 0 1rem;">
        <p-card header="Title">
            <div class="flex justify-content-between">
                <div class="col-6 flex flex-column">
                    <div class="flex justify-content-center">
                        <div class="flex align-items-center justify-content-center p-4" style="border-bottom: 2px solid black;border-top: 2px solid black;border-radius: 50%;width: 3.25rem;height: 2.5rem;">
                            <i class="fa-sharp fa-solid fa-bolt-lightning fa-2xl "></i>
                        </div>
                    </div>                    
                    <p class="my-1" style="text-align: center;">
                        <span style="font-size: xx-large;">871.7</span> kWh
                    </p>                    
                    <p class="m-0" style="text-align: center;font-weight: bold;">
                        Electricity
                    </p>                   
                    <p class="m-0" style="text-align: center;">
                        Electricity Meter
                    </p>                 
                    <p class="m-0" style="text-align: center;">
                        <span>{{date.startDate}}</span> - <span>{{date.endDate}}</span>
                    </p>
                </div>
                <div class="col-6 flex flex-column">
                    <div class="flex justify-content-center">
                        <div class="flex align-items-center justify-content-center p-4" style="border-bottom: 2px solid black;border-top: 2px solid black;border-radius: 50%;width: 3.25rem;height: 2.5rem;">
                            <i class="fa-sharp fa-solid fa-bolt-lightning fa-2xl "></i>
                        </div>
                    </div>                    
                    <p class="my-1" style="text-align: center;">
                        <span style="font-size: xx-large;">848.43</span> kWh
                    </p>                    
                    <p class="m-0" style="text-align: center;font-weight: bold;">
                        Electricity
                    </p>                   
                    <p class="m-0" style="text-align: center;">
                        Electricity Meter
                    </p>                 
                    <p class="m-0" style="text-align: center;">
                        <span>{{date.startDate}}</span> - <span>{{date.endDate}}</span>
                    </p>
                </div>
            </div>
            
        </p-card>
    </div>
</div>



<!-- <div class="grid">
<div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Orders</span>
                <div class="text-900 font-medium text-xl">152</div>
            </div>
            
        </div>
        <span class="text-green-500 font-medium">24 new </span>
        <span class="text-500">since last visit</span>
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Revenue</span>
                <div class="text-900 font-medium text-xl">$2.100</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-circle" [ngStyle]="{width: '2.5rem', height: '2.5rem', }">
                <i class="pi pi-bolt text-orange-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">%52+ </span>
        <span class="text-500">since last week</span>
    </div>
    
</div>
<div class="col-12 lg:col-6 xl:col-6">
    
</div> -->
