<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>
<a href="https://i4bydesign.gr/" style="position: absolute;bottom: 0px;">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logodark' : 'logo_en_small'}}.png" alt="Prime Blocks" class="w-full my-5 pr-5" />
</a>
